---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="mt-20 p-4 md:mt-40">
    <h1 class="bg-gradient text-5xl font-semibold">Legal Notice</h1>
  </section>
</BaseLayout>
