---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="mt-20 p-4">
    <h1>
      Welcome to <span class="font-semibold text-4xl text-color-gradient"
        >Astro</span
      >
    </h1>
    <p class="rounded p-4 max-w-md mb-10 bg-color-gradient">
      To get started, open the directory <code>src/pages</code> in your project.<br
      />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p>
  </section>
</BaseLayout>
