---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="mt-20 md:mt-40 p-4">
    <h1 class="text-5xl font-semibold">
      HALLO <span class="text-color-gradient">WORLD!</span>
    </h1>
    <div class="rounded p-4 mb-10 bg-color-gradient">
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis
        aliquid modi deserunt voluptatem nesciunt minus corrupti excepturi odit,
        voluptatum atque culpa quas dignissimos asperiores recusandae soluta
        veniam nobis eveniet quo!
      </p>
      <p class="italic">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quasi
        labore odit officiis quod amet odio consequatur eveniet adipisci
        doloremque eos veritatis deserunt reiciendis, minus accusantium
        repudiandae assumenda at natus.
      </p>
    </div>
  </section>
</BaseLayout>
