---
import { Icon } from "astro-icon"

const infoCards = [
  {
    icon: "mdi:github",
    title: "GitHub",
    text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, architecto amet sapiente earum consequuntur, distinctio labore explicabo maxime eaque voluptas."
  },
  {
    icon: "mdi:github",
    title: "GitHub",
    text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, architecto amet sapiente earum consequuntur, distinctio labore explicabo maxime eaque voluptas."
  },
  {
    icon: "mdi:github",
    title: "GitHub",
    text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, architecto amet sapiente earum consequuntur, distinctio labore explicabo maxime eaque voluptas."
  },
  {
    icon: "mdi:github",
    title: "GitHub",
    text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, architecto amet sapiente earum consequuntur, distinctio labore explicabo maxime eaque voluptas."
  },
  {
    icon: "mdi:github",
    title: "GitHub",
    text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, architecto amet sapiente earum consequuntur, distinctio labore explicabo maxime eaque voluptas."
  },
  {
    icon: "mdi:github",
    title: "GitHub",
    text: "Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, architecto amet sapiente earum consequuntur, distinctio labore explicabo maxime eaque voluptas."
  }
]
---

<section class="pt-24 text-center lg:pt-28">
  <h2 class="text-4xl font-bold lg:text-5xl lg:tracking-tight">What we are doing.</h2>
  <p class="mt-4 text-lg text-zinc-600">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum, exercitationem quis quasi
    sunt pariatur fugiat magnam nobis iusto accusantium laboriosam illo quo.
  </p>
  <div class="mt-16 grid gap-10 sm:grid-cols-2 lg:mt-24 lg:grid-cols-3 lg:gap-16">
    {
      infoCards.map((card) => (
        <div class="flex flex-col items-center">
          <div class="rounded-tl-lg rounded-br-lg bg-emerald-500 p-2">
            <Icon class="h-10 text-zinc-50" name={card.icon} />
          </div>
          <h3 class="mt-4 text-2xl font-bold lg:text-3xl">{card.title}</h3>
          <div class="mt-2 max-w-xs text-justify leading-relaxed text-zinc-600">{card.text}</div>
        </div>
      ))
    }
  </div>
</section>
