---
import Input from "@/components/ui/input.astro"
---

<section class="lg:pt-32c pt-24 text-center">
  <h2 class="text-4xl font-bold lg:text-5xl lg:tracking-tight">Contact us.</h2>
  <Input type="text" />
</section>
