---
import Button from "~/components/ui/button.astro"
---

<footer class="my-20 text-center">
  <p class="text-zinc-500">
    Copyright © {new Date().getFullYear()}. All rights reserved.
  </p>
  <p><Button variant="link" class="pt-1 text-sm" href="/">Legal Notice</Button></p>
</footer>
