---
import { Picture } from "@astrojs/image/components"

import { Icon } from "astro-icon"

import heroImage from "~/assets/hero.png"
import Button from "~/components/ui/button.astro"
---

<section
  class="flex flex-col justify-center space-y-16 pt-24 lg:flex-row lg:justify-between lg:space-y-0 lg:space-x-16 lg:pt-28"
>
  <div class="flex flex-col justify-center lg:flex-1">
    <h1 class="text-5xl font-bold lg:text-7xl lg:tracking-tighter">
      What the <span class="text-emerald-500">f***</span> are we doing
    </h1>
    <p class="mt-4 text-lg text-zinc-600">
      How can i help the potential customer with the stuff I offer in max 2-3 lines.
    </p>
    <div class="mt-6 flex flex-col gap-3 sm:flex-row sm:items-center">
      <Button class="flex items-center justify-center gap-1" variant="primary" href="#contact">
        <Icon class="h-4" name="mdi:send" />
        call to action
      </Button>
      <div>social proof</div>
    </div>
  </div>
  <div class="hidden items-center justify-center md:flex">
    <Picture
      src={heroImage}
      alt="A guy sitting at his desk working really hard."
      sizes="(max-width: 512px) 100vw, 512px"
      formats={["webp", "png"]}
      widths={[384, 512]}
      aspectRatio="1:1"
      class="h-96 lg:h-128"
    />
  </div>
</section>
