---
import Logo from "~/assets/icons/logo.astro"
import Button from "~/components/ui/button.astro"

let links = [
  { title: "About Us", path: "/" },
  { title: "Contact", path: "/" },
  { title: "Blog", path: "/" }
]
---

<script>
  const icon = document.getElementById("hamburger")
  const menu = document.getElementById("menu")

  icon?.addEventListener("click", () => {
    icon.classList.toggle("clicked")
    menu?.classList.toggle("hidden")
    menu?.classList.toggle("flex")
  })
</script>

<header class="w-full">
  <nav
    class="container mx-auto py-4 px-5 md:flex md:h-20 md:items-center md:justify-between md:py-2"
  >
    <div class="flex items-center justify-between">
      <Button variant="ghost" class="px-0" href="/">
        <Logo />
      </Button>
      <div id="hamburger" class="group flex flex-col gap-[4px] md:hidden">
        <div
          class="h-[4px] w-[30px] rounded bg-zinc-900 duration-500 group-[.clicked]:translate-y-[8px] group-[.clicked]:rotate-[45deg]"
        >
        </div>
        <div class="h-[4px] w-[30px] rounded bg-zinc-900 duration-500 group-[.clicked]:scale-0">
        </div>
        <div
          class="h-[4px] w-[30px] rounded bg-zinc-900 duration-500 group-[.clicked]:-translate-y-[8px] group-[.clicked]:-rotate-[45deg]"
        >
        </div>
      </div>
    </div>
    <ul
      id="menu"
      class="mt-6 hidden flex-col space-y-3 text-lg md:mt-0 md:flex md:flex-row md:space-y-0 md:space-x-8"
    >
      {
        links.map((link) => (
          <li>
            <Button variant="link" href={link.path}>
              {link.title}
            </Button>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
