---
export type ButtonVariant = "default" | "primary" | "outline" | "ghost" | "link"

interface Props {
  href: string
  variant?: ButtonVariant
  size?: "default" | "sm" | "lg"
  class?: string
  [x: string]: any
}

const { href, variant = "default", size = "default", class: className, ...rest } = Astro.props

const variants = {
  default: "bg-zinc-900 text-zinc-50 hover:bg-zinc-700",
  primary: "bg-emerald-500 text-zinc-50 hover:bg-emerald-700",
  outline: "border-2 border-zinc-900 bg-transparent hover:bg-zinc-900 hover:text-zinc-50",
  ghost: "bg-transparent data-[state=open]:bg-transparent",
  link: "bg-transparent text-zinc-500 hover:text-zinc-900 underline-offset-4 hover:bg-transparent hover:underline dark:bg-transparent"
}

const sizes = {
  default: "h-10 py-2 px-4",
  sm: "h-9 px-2 rounded-md text-sm",
  lg: "h-11 px-8 rounded-md"
}
---

<a
  href={href}
  {...rest}
  class:list={[
    "inline-flex items-center justify-center rounded-md font-medium transition-colors focus:outline-none focus:ring-2 focus:ring-zinc-400 focus:ring-offset-2 active:scale-95 disabled:pointer-events-none disabled:opacity-50 data-[state=open]:bg-zinc-100",
    sizes[size],
    variants[variant],
    className
  ]}
  ><slot />
</a>
